<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html"
      layout:decorator="layout">
<head>
    <title>Tasks : Add</title>
</head>
<body>
<div layout:fragment="content"
     class="container">
    <div class="alert alert-success"
         th:if="${globalProject}"
         th:text="${globalProject}">
        Some Projects
    </div>

    <form id="taskForm"
          th:action="'/project/' + ${project.id} + '/create'"
          th:object="${task}"
          action="#"
          method="post">
        <div th:if="${#fields.hasErrors('*')}"
             class="alert alert-error">
            <p th:each="error : ${#fields.errors('*')}"
               th:text="${error}">
                Validation error
            </p>
        </div>
        <div>
            <label for="title">Название задачи:</label>
            <input type="text"
                   th:field="*{title}"
                   th:class="${#fields.hasErrors('title')} ? 'field-error'"/>
        </div>
        <div>
            <label for="description">Описание:</label>
            <textarea
                    th:field="*{description}"
                    th:class="${#fields.hasErrors('description')} ? 'field-error'"></textarea>

            <dd th:field="*{projectId}"
                th:class="${#fields.hasErrors('projectId')} ? 'field-error'"
                th:value="${project.id}"></dd>
        </div>
        <input type="submit" value="Сохранить"/>
    </form>
    <form th:action="'/project/' + ${project.id}">
        <button>Назад</button>
    </form>
</div>
</body>
</html>
