<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
      layout:decorator="layout">
<head>
    <title>Tasks : Add</title>

</head>
<body>
<div layout:fragment="content"
     class="container">
    <div class="alert alert-success"
         th:if="${globalProject}"
         th:text="${globalProject}">
        Some Projects
    </div>

    <form id="taskForm"
          th:action="'/project/' + ${project.id} + '/create'"
          th:object="${task}"
          action="#"
          method="get">
        <div th:if="${#fields.hasErrors('*')}"
             class="alert alert-error" th:each="error : ${#fields.errors('*')}"
               th:text="${error}">
                Validation error
        </div>
        <div>
            <label for="taskName">Название задачи:</label>
            <input type="text"
                   th:field="*{taskName}"
                   th:class="${#fields.hasErrors('taskName')} ? 'field-error'"/>
        </div>
        <div>
            <label for="taskDescription">Описание:</label>
            <textarea
                    th:field="*{taskDescription}"
                    th:class="${#fields.hasErrors('taskDescription')} ? 'field-error'"></textarea>
            <label for="projectId"> id project: </label>
            <dd th:field="*{projectId}"
                th:class="${#fields.hasErrors('projectId')} ? 'field-error'"
                th:value="${project.id}"></dd>
        </div>
        <div class="form-actions">
            <input type="submit" value="CREATE"/>
        </div>
    </form>
    <form th:action="'/project/' + ${project.id}">
        <button>Назад</button>
    </form>
</div>
</body>
</html>
