<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:p="http://www.w3.org/1999/XSL/Transform"
      xmlns="http://www.w3.org/1999/html"
      layout:decorator="layout">
<head>
    <title>Tasks : Add</title>
</head>
<body>
<div layout:fragment="content"
     class="container">
<!--    <div class="alert alert-success"-->
<!--         th:if="${globalProject}"-->
<!--         th:text="${globalProject}">-->
<!--        Some Projects-->
<!--    </div>-->

    <form id="taskForm"
          th:action="@{/projects/__${project.id}__/tasks/create}"
          th:object="${task}"
          method="post">
        <div th:if="${#fields.hasErrors('*')}"
             class="alert alert-error">
            <p th:each="error : ${#fields.errors('*')}"
               th:text="${error}">
                Validation error
            </p>
        </div>
        <div>
            <label for="name">Название задачи:</label>
            <input type="text"
                   th:field="*{name}"
                   th:class="${#fields.hasErrors('name')} ? 'field-error'"/>
        </div>
        <div>
            <label for="description">Описание:</label>
            <textarea
                    th:field="*{description}"
                    th:class="${#fields.hasErrors('description')} ? 'field-error'"/>
<!--            <label for="projectId"> Project ID: </label>-->
<!--            <dd th:field="*{projectId}"-->
<!--                th:class="${#fields.hasErrors('projectId')} ? 'field-error'"-->
<!--                th:value="${project.id}"/>-->
        </div>
        <input type="submit" value="Сохранить"/>
    </form>
    <form th:action="@{/projects/__${project.id}__}">
        <button>Назад</button>
    </form>
</div>
</body>
</html>
