<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://use.fontawesome.com/6860501a81.js"></script>
</head>
<body>
<div style="background: #D16FFF; border: 1px solid #000000; position: absolute; padding: 0; margin: 0; top: 0; left: 0; height: 8%; width: 100%">
    <div style="">
        <span style="position: absolute; top: 30%; left: 8%">Сервер для командной работы</span>
        <span style="position: absolute; top: 30%; left: 80%">Мои проекты</span>
    </div>
</div>

    <div style="position: absolute; top: 15%; left: 8%">
        <span style="font-size: 24px">Название Проекта</span>
        <span><button style="left: 40%; padding: 12px 20px; margin: 8px 0"  type="submit">Создать новый проект</button></span>
    </div>



<div>
    <h2 style="position: absolute; top: 25%; left: 8%">У вас пока нет проектов</h2>
</div>

</body>
</html>