<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="layout">
  <head>
    <title>Projects : View all</title>
  </head>
  <body>
    <div layout:fragment="content" class="container">
      <div class="pull-right">
        <a href="form.html" th:href="@{/(form)}">Create Project</a>
       </div>
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <td>NAME</td>
          </tr>
        </thead>
        <tbody>
          <tr th:if="${projects.empty}">
            <td colspan="1">
              You haven't created a project yet
            </td>
          </tr>
          <tr th:each="project : ${projects}">
            <td th:text="${project.id}">1</td>

            <td>
              <a href="view.html"
                  th:href="@{'/' + ${project.id}}"
                  th:text="${project.projectName}">
                Name (list.html)
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      <div>

      </div>
    </div>
  </body>
</html>