<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:p="http://www.w3.org/1999/XSL/Transform"
      layout:decorator="layout">
<head>
    <title>Projects : Create</title>
</head>
<body>
<div layout:fragment="content"
     class="container">
    <form id="projectForm"
          th:action="@{/}"
          th:object="${project}"
          method="post">
        <div th:if="${#fields.hasErrors('*')}"
             class="alert alert-error">
            <p th:each="error : ${#fields.errors('*')}"
               th:text="${error}">
                Validation error
            </p>
        </div>
        <label for="projectName">Name of project</label>
        <input type="text"
               th:field="*{projectName}"
               th:class="${#fields.hasErrors('projectName')} ? 'field-error'"/>
        <div class="form-actions">
            <input type="submit" value="CREATE"/>
        </div>
    </form>
    <div>

        <ul>
            <li th:if="${projects.empty}">
                You haven't created a project yet
            </li>
            <li th:each="project : ${projects}">
                <a th:href="@{/__${project.id}__}">
                    <p th:text="${project.projectName}"></p>
                </a>
            </li>
        </ul>
    </div>
</div>
</body>
</html>