<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Tasks : View</title>
</head>
<body>
<div layout:fragment="content"
     class="container">
    <div class="alert alert-success"
         th:if="${globalProject}"
         th:text="${globalProject}">
        Some Projects
    </div>
    <dl>
        <dt>ID</dt>
        <dd id="id" th:text="${project.id}">123</dd>
        <dt>Project name</dt>
        <dd id="name" th:text="${project.name}">0</dd>
        <dl>
            <div>
                <h2>Create your tasks</h2>
                <form th:action="@{/projects/__${project.id}__/tasks/create}" target="_blank">
                    <button>Добавить новую задачу</button>
                </form>

                <ul>
                    <li th:if="${tasks.empty}">
                        You haven't created a task yet
                    </li>
                    <li th:each="task : ${tasks}"
                        th:text="${task.id} + ' ' + ${task.taskName} + ' ' + ${task.state}">
                    </li>
                </ul>
            </div>
        </dl>
    </dl>
</div>
</body>
</html>
