<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Tasks : View</title>

</head>
<body>
<div layout:fragment="content"
     class="container">
    <div class="alert alert-success"
         th:if="${globalProject}"
         th:text="${globalProject}">
        Some Projects
    </div>
    <dl>
        <dt>ID</dt>
        <dd id="id" th:text="${project.id}">123</dd>
        <dt>Project name</dt>
        <dd id="projectName" th:text="${project.projectName}">0</dd>
        <dl>
            <div>
                <h2>Create your tasks</h2>
                <form th:action="'/project/' + ${project.id} + '/create'" target="_blank">
                    <button>Добавить новую задачу</button>
                </form>
                <ul>
                    <li th:if="${tasks.empty}" th:each="task : ${tasks}">
                        <a th:href="@{project/__${project.id}__}">
                            <p th:text="${task.taskName}"></p>
                        </a>
                    </li>
                </ul>
            </div>
        </dl>
    </dl>
</div>
</body>
</html>
