<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Tasks : View</title>
</head>
<body>
<div layout:fragment="content"
     class="containerrr">

    <dl style="font-size: 24px">
        <dt>Название проекта:</dt>
        <dd id="projectName" th:text="${project.projectName}">0</dd>
        <dl>
            <div>
                <form th:action="'/project/' + ${project.id} + '/create'" target="_blank">
                    <button>Создать новую задачу</button>
                </form>
                <ul>
                    <p th:if="${tasks.empty}">
                        Проект пуст
                    </p>
                    <li th:each="task : ${tasks}"
                        th:text="${task.id} + ' ' + ${task.title}">1
                    </li>
                </ul>
            </div>
        </dl>
    </dl>
</div>
</body>
</html>
